asgiref==3.9.1
chardet==3.0.4
deepl==1.22.0
Django==5.2.6
google-api-core==2.25.1
google-auth==2.40.3
google-cloud-core==2.4.3
google-cloud-translate==3.21.1
googleapis-common-protos==1.70.0
googletrans==4.0.0rc1
grpc-google-iam-v1==0.14.2
grpcio==1.74.0
grpcio-status==1.74.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2025.1.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
proto-plus==1.26.1
protobuf==6.31.1
psycopg2-binary==2.9.10
rfc3986==1.5.0
rsa==4.9.1
setuptools==78.1.1
sqlparse==0.5.3
tzdata==2025.2
unrpa==2.3.0
wheel==0.45.1
